@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SMARTPAN TASK</h1>
    <p class="lead">In this task I create a system to assign new user at the system as an employee or a manager , then handle the “Task” process between each manager and his Employees</p>
    <p><a href="~/SmartPanTask.pdf" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            View All Employees list with edit and delete permission.       
        </p>
        <p>
            View All Department with Create/Edit/Delete Permission.
        </p>
        <p><a class="btn btn-default" href="~/SmartPanTask.pdf" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manager</h2>
        <p>
            View This Manager Employees  Only  with Edit and Delete permission.
        </p>
        <p>
            View the Tasks are assigned by this manager to his employees, with(Add/Edit/Delete) Permission.
        </p>
        <p><a class="btn btn-default" href="~/SmartPanTask.pdf" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>View The Assigned Tasks to this Employee Only.</p>
        <p>Have the permission to Update the status of the task or start it.</p>
        <p><a class="btn btn-default" href="~/SmartPanTask.pdf" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>